.container {
  min-width: 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.links > a:first-child {
  margin-right: 0.5rem;
}

.links > a {
  cursor: pointer;
}

.selected {
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > * {
  margin: 0.5rem 0;
}
