.hasMore {
  display: flex;
  flex: 1;
  height: 10rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
}

.title {
  display: flex;
  flex: 1;
  align-items: center;
}

.title > h3 {
  margin-right: 0.5rem;
}
